@model IEnumerable<MisCrompras.Models.Deudores>

@{
    ViewData["Title"] = "Todos";
    Layout = "_LayoutConMenu";
}

<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h3>
                    Deudores
                    <small>Listado de deudores registrados en el sistema</small>
                </h3>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item">Deudores</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    @*<h5><a asp-action="Create"><i class="fa fa-plus">Nuevo</i></a> </h5>*@
                    <h5>Total: Q.@ViewBag.total</h5>
                </div>
                <div class="card-body">
                    <div class="dt-ext table-responsive">

                        @*<table id="export-button" class="display">*@
                        <table id="basic-1" class="display">
                        @*<table class="table">*@
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        Cliente
                                    </th>
                                    <th>
                                        Saldo
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        <a href="~/CreditoAbono/Index/@item.Id">Detalle de Cr&eacute;dito</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cliente)
                                    </td>
                                    <td>
                                       Q @Html.DisplayFor(modelItem => item.Monto)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>