@model MisCrompras.Models.Gasto

@{
    ViewData["Title"] = "Actualizar";
    Layout = "_LayoutConMenu";
}


<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h3>
                    Actualizar Gasto
                    <small>Completar toda la informaci&oacute;n solicitada por el formulario</small>
                </h3>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item">Gasto </li>
                    <li class="breadcrumb-item active">Actualizar</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="form-builder">
    <div class="row">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h5>Actualizar</h5>
                </div>
                <form asp-action="Edit" novalidate>
                    <div class="card-body">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="CategoriaId" class="control-label"></label>
                                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="Monto" class="control-label"></label>
                                    <input asp-for="Monto" class="form-control" />
                                    <span asp-validation-for="Monto" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="Descripción" class="control-label"></label>
                                    <input asp-for="Descripción" class="form-control" />
                                    <span asp-validation-for="Descripción" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="EstadoId" class="control-label"></label>
                                    <select asp-for="EstadoId" class="form-control" asp-items="ViewBag.EstadoId"></select>
                                    <span asp-validation-for="EstadoId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                        <input type="reset" class="btn btn-light" value="Limpiar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Regresar a listado</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
